[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
nrel-rex = {extras = ["hsds"], version = ">=0.2.88"}

[dev-packages]

[requires]
python_version = "3.13"
